﻿body {
    margin: 0;
    background-color: #b2b2b2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#NewArticle{
    display:flex;
    flex-direction:column;
    border : 2px solid red;
    align-content: space-around;
}

#NewArticle *{
    margin: 10px;
}
